.to-do-add__textarea {
  width: 100%;
  resize: none;
  height: 80px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.75);
}

.to-do-add-actions {
  display: flex;
  align-items: center;
}

.to-do-add__submit {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background-color: $green;
  color: #fff;
  -webkit-box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.75);
}
.to-do-add__submit--disabled {
  background-color: $grey;
}
.to-do-add__submit--loader {
  color: #fff;
}
.to-do-add__cancel {
  cursor: pointer;
  margin-left: 16px;
  color: $red;
}

.to-do-item__text {
  display: flex;
  align-items: center;
  overflow: hidden;
}